body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

input {
  padding: 0 8px;
  margin: 0 16px;
  margin-bottom: 16px;
  width: 250px;
  height: 40px;
  font-size: 2rem;
}
